<div class="container d-flex p-3 box">
  <p>
    Netflix - это JavaScript-библиотека для неблокирующих уведомлений на стороне
    клиента, всплывающих окон, индикаторов загрузки и многого другого, что
    значительно улучшает ваши веб-проекты.
  </p>
  <div class="btn">
    <p-button (click)="notify('warning')">Notify</p-button>
    <p-button (click)="confirm()">Confirm</p-button>
    <p-button (click)="loading()">Loading</p-button>
    <p-button (click)="report()">Report</p-button>
  </div>
</div>
